/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
node_modules/
_build/dev/lib/pns/.mix/compile.elixir
_build/dev/lib/pns/ebin/Elixir.PnsWeb.PageView.beam
_build/dev/lib/pns/ebin/Elixir.PnsWeb.PageView.beam
