<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Hackathon 2021" %></h1>
  <p>Static-Startup presents<br/><a href="<%= Routes.static_path(@conn, "/applications") %>">Push Notification Service (PNS).</a></p>
</section>
